[Unit]
Description=do an led thing
Documentation=man:set-led(1)

[Service]
ExecStart=/usr/bin/set-led --heartbeat

[Install]
WantedBy=multi-user.target
